{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
    <div style="
        width: 100%;
        height: 100%;
        background-image: url('/images/Summer_Solstice_Sunrise_over_Stonehenge_2005.jpg');
        background-repeat: no-repeat;
        background-position: center top;
    ">
    {% if error  %}
        <div>{{ error.message  }}</div>
    {% endif  %}
        <div class="centered center" style="position:relative;top:44px;padding:30px; background-color:#ccc;width:575px;height:234px;opacity: 0.75;filter: alpha(opacity=75);border-radius:175px;">
            <br><br><br><br>
            <span class="nobr yourLoginFontBig">DB Entity Cloner</span>
            <br><br><br>
            <form id="form_to_log_in"
                  method="post"
                  class="nobr navbar-form form-inline pull-right"
                  action="{{ path('login') }}"
            >
                <input type="text" placeholder="User name or email" name="_username" id="user_name"
                       style="width: auto;"
                       value="{{ last_username  }}">
                <input type="password" placeholder="Password" name="_password" id="user_pass"
                       style="width: auto;">&nbsp;&nbsp;
                <input type="button" class="btn btn-primary" id="button_submit_login"
                       value="Sign in">
                <!--
                    If you want to control the URL the user
                    is redirected to on success (more details below)-->
                <input type="hidden" name="_target_path" value="{{ path('dashboardRoute') }}" />
            </form>
            <br><br><br>
            <span class="nobr yourLoginFont">Not signed up yet ? Please do :&nbsp;&nbsp;</span>
            <input type="button" class="btn btn-primary" id="button_db_cloner_register_2"
                   value="Register">
        </div>
        <div id="div_db_cloner_register" title="Registration Form:" style="display:none;text-align:center;">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="{{ asset('build/login.js') }}"></script>
{% endblock %}
